bin/
obj/
*.user
*.DotSettings.user
*.suo
*.userosscache
*.sln.docstates
/.vs/
/TestResults/
launchSettings.json
appsettings.*.local.json
.env
.env.*
*.env

src/.env
/.idea/
**/rider.project.*.nuget.info
**/*.AssemblyInfo.cs
**/*.AssemblyInfoInputs.cache
**/project.packagespec.json
